extends ./../master
block content
    div.darker-stripe
        div.container
            div.row
                div.span12
                    div.breadcrumb
                        li
                            a(href='/') موتوران
                        li 
                            span.icon-chevron-right
                        li 
                            a(href='#') خطای 404
    div.container
        div.push-up.blocks-spacer
            div.row
                section.span12
                    p.container-404
                        img(src="images/404.png" alt='صفحه مورد نظر یافت نشد' width='394' height="161")
                    hr
                    p.center-align.size-16 مشکلی پیش آمده است ، صفحه ای که به دنبال آن میگردید یافت نشد
                    p.center-align.size-16.push-down-50 به <a href='/'> خانه </a> بازگردید 
