div.container.blocks-spacer-last
	div.row
		div.span12
			div.main-titles.lined
				h2.title <span class='light'>برندهای</span> ما
				div.arrows
					a.icon-chevron-right(href='#' id='brandsRight')
					span &nbsp;&nbsp;&nbsp;&nbsp;
					a.icon-chevron-left(href='#' id='brandsLeft')
	div.row
		div.span12
			div.brands.carouFredSel(data-nav="brands" data-autoplay="true")
				img(src="images/dummy/brands/brands_01.jpg" alt="" width="203" height="104")
				img(src="images/dummy/brands/brands_02.jpg" alt="" width="203" height="104")
				img(src="images/dummy/brands/brands_03.jpg" alt="" width="203" height="104")
				img(src="images/dummy/brands/brands_04.jpg" alt="" width="203" height="104")
				img(src="images/dummy/brands/brands_05.jpg" alt="" width="203" height="104")
				img(src="images/dummy/brands/brands_06.jpg" alt="" width="203" height="104")