div.darker-stripe.blocks-spacer.more-space.latest-news.with-shadows
	div.container
		//- Title
		div.row
			div.span12
				div.main-titles.center-align
					h2.title
						span.clickable.icon-chevron-right(id="tweetsRight") 
						span.light    آخرین خبرها    
						span.clickable.icon-chevron-left(id='tweetsLeft')
		//- News Content
		div.row
			div.span12
				div.carouFredSel(data-nav="tweets" data-autoplay="false")
					//- Slide1
					div.slide
						div.row
							div.span6
								div.news-item
									div.published 12 مهر 1400
									h6
										a(href='#') عنوان خبر اول
									p متن خبر در این قسمت قرار میگیرد
							div.span6
								div.news-item
									div.published 12 مهر 1400
									h6
										a(href='#') عنوان خبر دوم
									p متن خبر در این قسمت قرار میگیرد
					//- Slide2
					div.slide
						div.row
							div.span6
								div.news-item
									div.published 12 مهر 1400
									h6
										a(href='#') عنوان خبر سوم
									p متن خبر در این قسمت قرار میگیرد
							div.span6
								div.news-item
									div.published 12 مهر 1400
									h6
										a(href='#') عنوان خبر چهارم
									p متن خبر در این قسمت قرار میگیرد
