div.most-popular.blocks-spacer
    div.container
        div.row
            div.span12
                div.main-titles.lined
                    h2.titles محبوب ترین مصحولات فروشگاه
        div.row.popup-products
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/most-popular-products/popular-1.jpg' alt="" width="540" height="412")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.titles 150,000 تومان
                        h5.no-margin محصول ویژه شماره 420
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/most-popular-products/popular-1.jpg' alt="" width="540" height="412")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.titles 150,000 تومان
                        h5.no-margin محصول ویژه شماره 420
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/most-popular-products/popular-1.jpg' alt="" width="540" height="412")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.titles 150,000 تومان
                        h5.no-margin محصول ویژه شماره 420
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/most-popular-products/popular-1.jpg' alt="" width="540" height="412")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.titles 150,000 تومان
                        h5.no-margin محصول ویژه شماره 420
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
