div.boxed-area.blocks-spacer
    div.container
        div.row
            div.span12
                div.main-titles.lined
                    h2.title محصولات جدید فروشگاه
        div.row.popup-products.blocks-spacer
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/products/product-6.jpg' alt="" width="540" height="374")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.title 360,000 تومان
                        h5.no-margin محصول ویژه شماره 10
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
                        span.icon-star
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/products/product-6.jpg' alt="" width="540" height="374")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.title 360,000 تومان
                        h5.no-margin محصول ویژه شماره 10
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
                        span.icon-star
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/products/product-6.jpg' alt="" width="540" height="374")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.title 360,000 تومان
                        h5.no-margin محصول ویژه شماره 10
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
                        span.icon-star
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/products/product-6.jpg' alt="" width="540" height="374")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.title 360,000 تومان
                        h5.no-margin محصول ویژه شماره 10
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
                        span.icon-star
            div.clearfix
            div.span3
                div.product
                    div.product-img
                        div.picture
                            img(src='images/dummy/products/product-6.jpg' alt="" width="540" height="374")
                            div.img-overlay
                                a.btn.more.btn-primary(href='#') توضیحات بیشتر
                                a.btn.buy.btn-danger(href='#') اضافه به سبد خرید
                    div.main-titles.no-margin
                        h4.title 360,000 تومان
                        h5.no-margin محصول ویژه شماره 10
                    p.desc توضیحات محصول در این قسمت قرار میگیرد
                    p.center-align.stars
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star.stars-clr
                        span.icon-star
                        span.icon-star