div.container.featured-item.blocks-spacer
	div.span12
		div.main-titles.lined
			//- Title
			h2.title محصولات ویژه
			div.arrows
				a.icon-chevron-right(href='#' id='featuredItemsRight') 
				span &nbsp;&nbsp;&nbsp;&nbsp;
				a.icon-chevron-left(href='#' id='featuredItemsLeft')
	//- Carousel
	div.span12
		div.carouFredSel(data-autoplay='false' data-nav='featuredItems')
			div.slide
				div.row
					//- product
					div.span4
						div.product
							div.product-img.featured
								div.picture
									img(src='images/dummy/featured-products/featured-1.png' alt='' width='518' height='358')
									div.img-overlay
										a.btn.more.btn-primary(href='#') توضیحات بیشتر
										a.btn.buy.btn-dange(href='#') خرید
							div.main-titles
								h4.title 1,500,000 تومان
								h5.no-margin.text-error ناموجود
							p.desc توضیحات محصول در این قسمت
							p.center-align.stars
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star
								span.icon-star
					//- Product
					div.span4
						div.product
							div.product-img.featured
								div.picture
									img(src='images/dummy/featured-products/featured-1.png' alt='' width='518' height='358')
									div.img-overlay
										a.btn.more.btn-primary(href='#') توضیحات بیشتر
										a.btn.buy.btn-dange(href='#') خرید
							div.main-titles
								h4.title 1,500,000 تومان
								h5.no-margin.text-error ناموجود
							p.desc توضیحات محصول در این قسمت
							p.center-align.stars
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star
								span.icon-star
					//- Product
					div.span4
						div.product
							div.product-img.featured
								div.picture
									img(src='images/dummy/featured-products/featured-1.png' alt='' width='518' height='358')
									div.img-overlay
										a.btn.more.btn-primary(href='#') توضیحات بیشتر
										a.btn.buy.btn-dange(href='#') خرید
							div.main-titles
								h4.title 1,500,000 تومان
								h5.no-margin.text-error ناموجود
							p.desc توضیحات محصول در این قسمت
							p.center-align.stars
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star
								span.icon-star
			div.slide
				div.row
					//- Product
					div.span4
						div.product
							div.product-img.featured
								div.picture
									img(src='images/dummy/featured-products/featured-1.png' alt='' width='518' height='358')
									div.img-overlay
										a.btn.more.btn-primary(href='#') توضیحات بیشتر
										a.btn.buy.btn-dange(href='#') خرید
							div.main-titles
								h4.title 1,500,000 تومان
								h5.no-margin.text-error ناموجود
							p.desc توضیحات محصول در این قسمت
							p.center-align.stars
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star
								span.icon-star
					//- Product
					div.span4
						div.product
							div.product-img.featured
								div.picture
									img(src='images/dummy/featured-products/featured-1.png' alt='' width='518' height='358')
									div.img-overlay
										a.btn.more.btn-primary(href='#') توضیحات بیشتر
										a.btn.buy.btn-dange(href='#') خرید
							div.main-titles
								h4.title 1,500,000 تومان
								h5.no-margin.text-error ناموجود
							p.desc توضیحات محصول در این قسمت
							p.center-align.stars
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star.stars-clr
								span.icon-star
								span.icon-star